<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maayong Buntag</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">CSTW</div>
    <div class="word-container">
        <div class="label">English:</div>
        <div class="english">Good Morning!</div>
        <div class="label">Cebuano:</div>
        <div class="cebuano">Maayong Buntag! 
        </div>
        <span class="sound-icon">🔊</span>
        <a href="#" class="next-button" id="nextBtn">Next</a>
        <button id="stopBtn" style="display: none;">Stop</button>
    </div>

    <script src="/static/record.js"></script>
</body>
</html>