<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basics Menu</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">Basics</div>
    <div class="container">
        <a href="/Kabalo_Ka_Mag_Tagalog" class="button" id="Kabalo_Ka_Mag_Tagalog">Kabalo ka mag Tagalog?</a>
        <a href="/Kabalo_Ka_Mag_English" class="button" id="Kabalo_Ka_Mag_English">Kabalo ka mag English?</a>
        <a href="/Palihog" class="button" id="Palihog">Palihog</a>
        <a href="/Mangayo_Ko_Ug_Menu" class="button" id="Mangayo_Ko_Ug_Menu">Mangayo ko ug menu</a>
        <a href="/Palihog_Ko_Ug_Menu" class="button" id="Palihog_Ko_Ug_Menu">Palihog ko ug menu</a>
        <a href="/Akoang_Anak" class="button" id="Akoang_Anak">Akoang anak</a>
        <a href="/Akoang_Amahan" class="button" id="Akoang_Amahan">Akoang amahan</a>
        <a href="/Akoa_Nang_Anak" class="button" id="Akoa_Nang_Anak">Akoa nang anak</a>
        <a href="/Akoa_Nang_Inahan" class="button" id="Akoa_Nang_Inahan">Akoa nang inahan</a>
        <a href="/Iyaha_Ning_Bana" class="button" id="Iyaha_Ning_Bana">Iyaha ning bana</a>
        <a href="/Siya_Ang_Akoang_Asawa" class="button" id="Siya_Ang_Akoang_Asawa">Siya ang akoang asawa</a>
        <a href="/Sila_Akoang_Mga_Anak" class="button" id="Sila_Akoang_Mga_Anak">Sila akoang mga anak</a>
    </div>
    <a href="/" class="menuback-button">Back to Menu</a>
</body>
</html>
