<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directions Menu</title>
    <link rel="icon" href="../static/image/logo.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="header">
        <h1>Directions</h1>
        {% include'userbar.html' %}
    </div>
    <div class="container">
        <a href="/Didto" class="button" id="Didto">Didto</a>
        <a href="/Dani" class="button" id="Dani">Dani</a>
        <a href="/Wala" class="button" id="Wala">Wala (left)</a>
        <a href="/Too" class="button" id="Too">Too</a>
        <a href="/Asa_Ang" class="button" id="Asa_Ang">Asa ang</a>
        <a href="/Taas" class="button" id="Taas">Taas (up)</a>
        <a href="/Ubos" class="button" id="Ubos">Ubos</a>
        <a href="/Atubangan" class="button" id="Atubangan">Atubangan</a>
        <a href="/Likod" class="button" id="Likod">Likod</a>
    </div>
    <a href="/modules" class="menuback-button">Back to Menu</a>
    <script src="/static/record.js"></script>
</body>
</html>
