<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directions Menu</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">Directions</div>
    <div class="container">
        <a href="Didto.html" class="button" id="Didto">Didto</a>
        <a href="Dani.html" class="button" id="Dani">Dani</a>
        <a href="Wala.html" class="button" id="Wala">Wala (left)</a>
        <a href="Too.html" class="button" id="Too">Too</a>
        <a href="Asa_Ang.html" class="button" id="Asa_Ang">Asa ang</a>
        <a href="Taas.html" class="button" id="Taas">Taas (up)</a>
        <a href="Ubos.html" class="button" id="Ubos">Ubos</a>
        <a href="Atubangan.html" class="button" id="Atubangan">Atubangan</a>
        <a href="Likod.html" class="button" id="Likod">Likod</a>
    </div>
</body>
</html>
