<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings Menu</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">Greetings</div>
    <div class="container">
        <a href="/Maayong_Buntag" class="button" id="Maayong_Buntag">Maayong Buntag</a>
        <a href="/Maayong_Udto.html" class="button" id="Maayong_Udto">Maayong Udto</a>
        <a href="/Maayong_Hapon.html" class="button" id="Maayong_Hapon">Maayong Hapon</a>
        <a href="/Maayong_Gabii.html" class="button" id="Maayong_Gabii">Maayong Gabii</a>
        <a href="/Maayong_Adlaw.html" class="button" id="Maayong_Adlaw">Maayong Adlaw</a>
        <a href="/Kumusta_Ka.html" class="button" id="Kumusta_Ka">Kumusta ka</a>
    </div>
</body>
</html>
