<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings Menu</title>
    <link rel="icon" href="../static/image/logo.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="header">
        <h1>Greetings</h1>
        {% include'userbar.html' %}
    </div>
    <div class="container">
        <a href="/Maayong_Buntag" class="button" id="Maayong_Buntag">Maayong Buntag</a>
        <a href="/Maayong_Udto" class="button" id="Maayong_Udto">Maayong Udto</a>
        <a href="/Maayong_Hapon" class="button" id="Maayong_Hapon">Maayong Hapon</a>
        <a href="/Maayong_Gabii" class="button" id="Maayong_Gabii">Maayong Gabii</a>
        <a href="/Maayong_Adlaw" class="button" id="Maayong_Adlaw">Maayong Adlaw</a>
        <a href="/Kumusta_Ka" class="button" id="Kumusta_Ka">Kumusta ka</a>
    </div>
    <a href="/modules" class="menuback-button">Back to Menu</a>
    <script src="/static/record.js"></script>
</body>
</html>
