<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CWTS</title>
    <link rel="icon" href="../static/image/logo.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <p class="title">Cebuano Speech Tutor</p>
        <a href="/login" class="button">Login</a>
        <a href="/register" class="button">Register</a>
    </div>
</body>
</html>