<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSTW Menu</title>

    <link rel="icon" href="../static/image/logo.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="header">CSTW</div>
    <div class="container">
        <a href="/greetings" class="button">Greetings</a>
        <a href="/directions" class="button">Directions</a>
        <a href="/people" class="button">People</a>
        <a href="/numbers" class="button">Numbers</a>
        <a href="/basic" class="button full-width">Basic Communication</a>
    </div>
</body>
</html>