<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numbers Menu</title>
    <link rel="icon" href="../static/image/logo.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="header">
        <h1>Numbers</h1>
        {% include'userbar.html' %}
    </div>
    <div class="container">
        <a href="/Wala_None" class="button" id="Wala_None">Wala (none)</a>
        <a href="/Isa" class="button" id="Isa">Isa</a>
        <a href="/Duha" class="button" id="Duha">Duha</a>
        <a href="/Tulo" class="button" id="Tulo">Tulo</a>
        <a href="/Upat" class="button" id="Upat">Upat</a>
        <a href="/Lima" class="button" id="Lima">Lima</a>
        <a href="/Unom" class="button" id="Unom">Unom</a>
        <a href="/Pito" class="button" id="Pito">Pito</a>
        <a href="/Walo" class="button" id="Walo">Walo</a>
        <a href="/Siyam" class="button" id="Siyam">Siyam</a>
        <a href="/Napulo" class="button" id="Napulo">Napulo</a>
        <a href="/Tanan" class="button" id="Tanan">Tanan</a>
    </div>
    <a href="/modules" class="menuback-button">Back to Menu</a>
</body>
</html>
