<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numbers Menu</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">Numbers</div>
    <div class="container">
        <a href="Wala_None.html" class="button" id="Wala_None">Wala (none)</a>
        <a href="Isa.html" class="button" id="Isa">Isa</a>
        <a href="Duha.html" class="button" id="Duha">Duha</a>
        <a href="Tulo.html" class="button" id="Tulo">Tulo</a>
        <a href="Upat.html" class="button" id="Upat">Upat</a>
        <a href="Lima.html" class="button" id="Lima">Lima</a>
        <a href="Unom.html" class="button" id="Unom">Unom</a>
        <a href="Pito.html" class="button" id="Pito">Pito</a>
        <a href="Walo.html" class="button" id="Walo">Walo</a>
        <a href="Siyam.html" class="button" id="Siyam">Siyam</a>
        <a href="Napulo.html" class="button" id="Napulo">Napulo</a>
        <a href="Tanan.html" class="button" id="Tanan">Tanan</a>
    </div>
</body>
</html>
