<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Menu</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">People</div>
    <div class="container">
        <a href="Ikaw.html" class="button" id="Ikaw">Ikaw</a>
        <a href="Ako.html" class="button" id="Ako">Ako</a>
        <a href="Siya.html" class="button" id="Siya">Siya</a>
        <a href="Sila.html" class="button" id="Sila">Sila</a>
        <a href="Imoha.html" class="button" id="Imoha">Imoha</a>
        <a href="Imohang.html" class="button" id="Imohang">Imohang</a>
        <a href="Akoa.html" class="button" id="Akoa">Akoa</a>
        <a href="Akoang.html" class="button" id="Akoang">Akoang</a>
        <a href="Anak.html" class="button" id="Anak">Anak</a>
        <a href="Bata.html" class="button" id="Bata">Bata</a>
        <a href="Inahan.html" class="button" id="Inahan">Inahan</a>
        <a href="Amahan.html" class="button" id="Amahan">Amahan</a>
        <a href="Bana.html" class="button" id="Bana">Bana</a>
        <a href="Asawa.html" class="button" id="Asawa">Asawa</a>
    </div>
</body>
</html>
