<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Menu</title>
    <link rel="icon" href="../static/image/logo.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="header">
        <h1>People</h1>
        {% include'userbar.html' %}
    </div>
    <div class="container">
        <a href="/Ikaw" class="button" id="Ikaw">Ikaw</a>
        <a href="/Ako" class="button" id="Ako">Ako</a>
        <a href="/Siya" class="button" id="Siya">Siya</a>
        <a href="/Sila" class="button" id="Sila">Sila</a>
        <a href="/Imoha" class="button" id="Imoha">Imoha</a>
        <a href="/Imohang" class="button" id="Imohang">Imohang</a>
        <a href="/Akoa" class="button" id="Akoa">Akoa</a>
        <a href="/Akoang" class="button" id="Akoang">Akoang</a>
        <a href="/Anak" class="button" id="Anak">Anak</a>
        <a href="/Bata" class="button" id="Bata">Bata</a>
        <a href="/Inahan" class="button" id="Inahan">Inahan</a>
        <a href="/Amahan" class="button" id="Amahan">Amahan</a>
        <a href="/Bana" class="button" id="Bana">Bana</a>
        <a href="/Asawa" class="button" id="Asawa">Asawa</a>
    </div>
    <a href="/modules" class="menuback-button">Back to Menu</a>
    <script src="/static/record.js"></script>
</body>
</html>
